<div class="question-title col-xs-12">
  <h2><%= @question.title %></h2>
</div>
<div class="col-xs-6">
  <div class="question-content">
    <p><%= @question.content %></p>
  </div>
  <div class="best-answer">
    <% @question.answers.each do |answer| %>
      <% if @question.best_answer_id == answer.id %>
        <div class="well">
          <p>Best Answer:</p>
          <%= answer.content %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="answers">
    <% @question.answers.each do |answer| %>
      <% if @question.best_answer_id != answer.id %>
        <div class="well">
          <p><%= answer.content %></p>
          <% if current_user == @question.user %>
            <p><%= link_to "Select as Best", question_path(@question, question: {best_answer_id: answer.id}), data: { method: "patch" }%></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= link_to 'Answer', new_question_answer_path(@question) %>
</div>
