<% if @question.best_answer_id != answer.id %>
  <div class="well answer row">
    <div class="col-xs-3 col-md-3">
      <div class="row">
        <%= link_to '<span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>'.html_safe, vote_path(answer), id: "up", method: :patch, remote: true %>
      </div>
      <div class="row">
        <p id="vote"><%= answer.votes_for.size %></p>
      </div>
      <div class="row down">
        <%= link_to '<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>'.html_safe, vote_path(answer), method: :patch %>
      </div>
    </div>
        <p><%= answer.content %></p>
    <% if current_enjoyer == @question.enjoyer %>
      <p><%= link_to "Select as Best", question_path(@question, question: {best_answer_id: answer.id}), data: { method: "patch" }%></p>
    <% end %>
  </div>
<% end %>
