<!DOCTYPE html>
<html>
<head>
  <title>Stack Overflow Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <h1>Stack Overflow</h1>
    <nav class="main-nav">
      <ul class="list-unstyled list-inline">
        <li><%= link_to "Home", questions_path %></li>
        <% if current_user %>
          <li><%= link_to "New Question", new_question_path %></li>
          <li><%= link_to current_user.username, user_path(current_user) %></li>
          <li><%= link_to "Logout", session_path(current_user), data: {method: "delete"} %></li>
        <% else %>
          <li><%= link_to "Login", new_session_path %></li>
          <li><%= link_to "Sign-Up", new_user_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </div>
</body>
</html>
