<!DOCTYPE html>
<html>
<head>
  <title>Stack Overflow Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <h1>Stack Overflow</h1>
    <nav class="main-nav">
      <ul class="list-unstyled list-inline">
        <li><%= link_to "Home", questions_path %></li>
        <% if enjoyer_signed_in? %>
          <li><%= link_to "Logout", destroy_enjoyer_session_path, data: {method: "delete"} %></li>
        <% else %>
          <li><%= link_to "Login", new_enjoyer_session_path %></li>
          <li><%= link_to "Sign-Up", new_enjoyer_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <%= yield %>
  </div>
</body>
</html>
